<br>
<div class="section_header">
   <div class="row">
      <div class="col-lg-12">
         <h3>Galeria Mistrzów Psychoterapii</h3>
         <hr>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-12">
      <!-- tabs -->
      <div class="sky-tabs sky-tabs-pos-top-left sky-tabs-anim-flip sky-tabs-response-to-icons">
         <input type="radio" class="sky-tab-content-1" id="sky-tab1" checked="" name="sky-tabs">
         <label for="sky-tab1"><span><span><i class="fa fa-user"></i>Irvin Yalom</span></span></label>
         <input type="radio" class="sky-tab-content-2" id="sky-tab2" name="sky-tabs">
         <label for="sky-tab2"><span><span><i class="fa fa-user"></i>Rollo May</span></span></label>
         <input type="radio" class="sky-tab-content-3" id="sky-tab3" name="sky-tabs">
         <label for="sky-tab3"><span><span><i class="fa fa-user"></i>Albert Ellis</span></span></label>
         <input type="radio" class="sky-tab-content-4" id="sky-tab4" name="sky-tabs">
         <label for="sky-tab4"><span><span><i class="fa fa-user"></i>Monica McGoldrick</span></span></label>
         <input type="radio" class="sky-tab-content-5" id="sky-tab5" name="sky-tabs">
         <label for="sky-tab5"><span><span><i class="fa fa-user"></i>Hanna Levenson</span></span></label>
         <input type="radio" class="sky-tab-content-6" id="sky-tab6" name="sky-tabs">
         <label for="sky-tab6"><span><span><i class="fa fa-user"></i>Virginia Satir</span></span></label>
         <input type="radio" class="sky-tab-content-7" id="sky-tab7" name="sky-tabs">
         <label for="sky-tab7"><span><span><i class="fa fa-user"></i>Salvador Minuchin</span></span></label>
         <ul>
            <li class="sky-tab-content-1">
               <div class="typography">
                  <h5>Irvin Yalom</h5>
                     <p>Lekarz, autor powieści i prac naukowych, emerytowany profesor psychiatrii na Stanford University, egzystencjalista i psychoterapeuta.</p>
                     <p>Urodził się w rodzinie żydowskiej w Washingtonie w 1931 roku. Dorastał w dzielnicy biedy. Unikając ryzykownego sąsiedztwa spędził większość czasu w domu czytając książki. Po ukończeniu Boston University School of Medicine w 1956r. pojechał uzupełnić swoją praktykę w Mount Sinai Hospital w Nowym Jorku i rezydenturę w Phipps Clinic of Johns Hopkins Hospital w Baltimore i ukończył szkolenie w 1960r. Po dwóch latach służby w armii w Tripler General Hospital w Honolulu, Dr. Yalom rozpoczął karierę akademicką w Stanford University. </p> 
                     <p>Uzyskał posadę stałego wykładowcy w 1968r. Jedno z jego osiągnięć to rozwinięcie włąsnego modelu psychoterapii egzystencjalnej.</p> 
                     <p>Poza działalnością naukową i akademicką zajmował się pisaniem powieści oraz eksperymentowaniem z technikami pisarskimi. W książce "Everyday Gets a Little Closer" Dr. Yalom zaprosił pacjenta do wspólpracy w pisaniu na temat doświadczeń z psychoterapii. Ta książka to zapis dwóch punktów widzenia w patrzeniu na to samo doświadczenie.</p> 
                     <p>Jego prace są używane jako skrypty akademickie dla studentów. Jego unikalne spojrzenie na relację z pacjentem/klientem dodano do programu studiów wielu uczelni.</p>
                     <p><strong>Amerykańskie Towarzystwo Psychiatryczne uhonorowało go w 2000 r. nagrodą 2000 Oskar Pfister Award za istotny wkład w dziedzinie religii i psychiatrii.</strong>
                  </p>
                  <p class="text-right">
                     <em>Zobacz filmy z Irvinem Yalomem <a target="_blank" href="http://dobrapsychoterapia.net/terapeuci/1">Filmy - Irvin Yalom</a>.</em>
                  </p>
               </div>
            </li>
            <li class="sky-tab-content-2">
               <div class="typography">
                  <h5>Rollo May</h5>
                  <p>
                     Rollo May, (1909–1994) jest ojcem egzystencjalnej psychoterapii w Stanach Zjednoczonych. Stał się inspiratorem dla takich myślicieli i praktyków, jak Irvin Yalom, James Bugental oraz pozostałych, niezliczonych osób. Nauczał poprzez wykłady, seminaria oraz twórczość pisarską. <br><br>Pierwszą książkę, zatytułowaną “Egzystencja” wydał w 1958 roku, po niej nastąpiły kolejne. Pozostaje jednym z niewielu terapeutów, pisarzy i nauczycieli owianych legendą.
                  </p>
                  <p class="text-right">
                     <em>Zobacz filmy z Rollo May <a target="_blank" href="http://dobrapsychoterapia.net/terapeuci/85">Filmy - Rollo May</a>.</em>
                  </p>
               </div>
            </li>
            <li class="sky-tab-content-3">
               <div class="typography">
                  <h5>Albert Ellis</h5>
                  <p>
                     Albert Ellis jest twórcą podejścia REBT. Wszechstronnie wykształcony na polu psychologii i filozofii, przeszedł pełne szkolenie psychoanalityczne i własną analizę. Po okresie fascynacji tym podejściem, rozpoczął poszukiwania bardziej konkretnych narzędzi pracy. <br><br>W swoich książkach pisze, że dopiero praca nad zmianą zachowań w dyrektywny sposób dała mu spełnienie zawodowe.
                  </p>
                  <p class="text-right">
                     <em>Zobacz filmy z Albertem Ellisem <a target="_blank" href="http://dobrapsychoterapia.net/terapeuci/66">Filmy - Albert Ellis</a>.</em>
                  </p>
               </div>
            </li>
            <li class="sky-tab-content-4">
               <div class="typography">
                  <h5>Monica McGoldrick</h5>
                  <p>
                     Monica McGoldrick, (1909–1994) jest profesorem w klinice psychiatrycznej w Robert Wood w Stanach Zjednoczonych. Wśród wielu otrzymanych przez nią nagród i wyróżnień warto wymienić nagrodę przyznaną jej przez amerykańskie towarzystwo terapii rodzin. Nagrodę tą otrzymała za wybitne osiągnięcia na polu teorii i praktyki terapii rodzin. <br><br>Autorka międzynarodowych bestsellerów w obszarze terapii systemowej i genogramów, obecnie jest dyrektorem Wielokulturowego Instytutu Rodzin w New Jersey, gdzie kontynuuje działalność dydaktyczną.
                  </p>
                  <p class="text-right">
                     <em>Zobacz filmy z Monicą McGoldrick <a target="_blank" href="http://dobrapsychoterapia.net/terapeuci/87">Filmy - Monica McGoldrick</a>.</em>
                  </p>
               </div>
            </li>
            <li class="sky-tab-content-5">
               <div class="typography">
                  <h5>Hanna Levenson</h5>
                  <p>
                     Dr. Levenson jest specjalistką w dziedzinie psychoterapii krótkoterminowej - jest klinicystą, nauczycielem i naukowcem od blisko 25 lat. Wprowadziła Program Psychoterapii Krótkoterminowej w Kalifornijskim Centrum Medycznym Pacific, wykłada w Instytucie Wright. <br><br>Opublikowała ponad 70 artykułów oraz 2 książki – Krótkoterminowa psychoterapia psychodynamiczna: Przewodnik klinicysty oraz Krótki przewodnik po Krótkoterminowej Psychoterapii Psychodynamicznej.
                  </p>
                  <p class="text-right">
                     <em>Zobacz filmy z Hanną Levenson <a target="_blank" href="http://dobrapsychoterapia.net/terapeuci/77">Filmy - Hanna Levenson</a>.</em>
                  </p>
               </div>
            </li>       
            <li class="sky-tab-content-6">
               <div class="typography">
                  <h5>Virginia Satir</h5>
                  <p>
                     (1916–1988), Virginię Satir niemal powszechnie uznaje się za jedną z najwybitniejszych i najskuteczniejszych psychoterapeutek poprzedniego stulecia. Była aktywna zawodowo przez mniej więcej czterdzieści pięć lat i w tym czasie opracowała systematyczne sposoby pomagania ludziom w rozwijaniu się i dokonywaniu wewnętrznych zmian. Jej nadzwyczajnemu ciepłu i precyzji w pracy towarzyszyła subtelna zdolność zauważania, co zbliża ludzi do upragnionych celów, a co ich od nich oddala. <br><br>Mało znany jest fakt, iż zaczynała karierę zawodową jako pracownik pomocy społecznej. Virginia Satir przez wiele lat pracowała z klientami pomocy społecznej - także jako terapeutka. W pracy tej intuicyjnie, ale z niezwykłą konsekwencją wprowadzała modele komunikowania się. Metody te (wzorce pracy) zasłynęły z niespotykanej dotąd skuteczności.
                  </p>
                  <p class="text-right">
                     <em>Zobacz filmy z Hanną Levenson <a target="_blank" href="http://dobrapsychoterapia.net/terapeuci/52">Filmy - Virginia Satir</a>.</em>
                  </p>
               </div>
            </li> 
            <li class="sky-tab-content-7">
               <div class="typography">
                  <h5>Salvador Minuchin</h5>
                  <p>
                     Salvador Minuchin został nazwany jednym z najbardziej wpływowych psychologów i psychoterapeutów XX wieku. Urodzony w Argentynie, twórca podwalin systemowej terapii rodzin, autor wielu książek i artykułów naukowych. <br><br>Wniósł do terapii dwa ważne punkty: wykazał, że badanie struktury rodzinnej może szeroko otworzyć bramy leczeniu różnych dysfunkcji rodzinnych, oraz wyjaśnił specyfikę funkcjonowania rodzin, w których występują przypadki zaburzeń odżywiania (bulimii i anoreksji), co w ogromnym stopniu pomogło rozwinąć techniki terapii osób z tymi problemami.
                  </p>
                  <p class="text-right">
                     <em>Zobacz filmy z Salvadorem Minuchinem <a target="_blank" href="http://dobrapsychoterapia.net/terapeuci/105">Filmy - Salvador Minuchin</a>.</em>
                  </p>
               </div>
            </li>           
         </ul>
      </div>
      <!--/ tabs -->
   </div>
</div>