<hr/>
<div class="section_header">
    <div class="row">
        <div class="col-lg-12">
            <h3>Nasze promocje</h3>
            
            <br>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <center>
            {% image '@FrontendBundle/Resources/public/images/yalom.jpg' %}
            <img src="{{ asset_url }}"  style="width: 100%" class="" alt="..."/>
            {% endimage %}
        </center><br>
        <center><a href="http://www.dobrapsychoterapia.net/produkt/74" class="btn btn-default">Zobacz film</a></center>
    </div>
    <div class="col-lg-6">
        <center>
            {% image '@FrontendBundle/Resources/public/images/pakiet.jpg' %}
            <img src="{{ asset_url }}"  style="width: 100%" class="" alt="..."/>
            {% endimage %}
        </center><br>
        <center><a href="http://www.dobrapsychoterapia.net/kategorie/1" class="btn btn-default">Zobacz pakiety</a></center>
    </div>
</div>
