{% extends '::base.html.twig' %}
{% block pageName %}Nowy <small>terapeuta</small>{% endblock %}
{% block breadcrumbs %}
    {{ 
    render_breadcrumbs([
        { content: 'Nowy terapeuta'},
    ]) 
    }}
{% endblock %}
{% block content -%}
    {{ form(form, { 'style': 'horizontal', 'label_col': 2, 'widget_col': 10 }) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('therapist') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
