{% extends '::base.html.twig' %}
{% block pageName %}Edycja <small>filmu</small>{% endblock %}
{% block breadcrumbs %}
    {{ 
    render_breadcrumbs([
        { content: 'Lista filmów', path: 'filmy'},
        { content: 'Edycja filmu'},
    ]) 
    }}
{% endblock %}
{% block content %}
    {{ form(edit_form, { 'style': 'horizontal', 'label_col': 2, 'widget_col': 10 }) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('filmy') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
